{{ define "main" }}
  <!-- Il nostro nuovo header personalizzato -->
    <!-- Il nostro nuovo header personalizzato -->
  <div class="custom-header">
    <a href="/agorai-blog/" class="header-link">
        <img src="/agorai-blog/images/agorai-logo.png" alt="AgorAI Logo" class="logo">
        <span class="site-title">AgorAI | Notiziario Intelligente</span>
    </a>
  </div>

  <!-- Il contenuto della pagina -->
  <div class="ph3-ns-l">
      <h2 class="f3 b">Ultimi Articoli</h2>
      <ul class="list pl0">
          {{ range where .Site.RegularPages "Section" "posts" }}
              <li class="mb4">
                  <a href="{{ .RelPermalink }}" class="db f3 mb1 link dim">
                      {{ .Title }}
                  </a>
                  <time class="f6 ttu tracked gray">{{ .Date.Format "02 January 2006, 15:04" }}</time>
                  <div class="mt2 lh-copy">
                      {{ .Summary }}
                  </div>
                  <a href="{{ .RelPermalink }}" class="f6 link dim br-pill ba ph3 pv2 mb2 dib mt3">Leggi di più →</a>
              </li>
          {{ end }}
      </ul>
  </div>
{{ end }}
